<?xml version="1.0" encoding="utf-8" ?>
<root>
  <quotes>
  </quotes>
  <settings>
    <adminRole></adminRole>
    <reactEmote></reactEmote>
    <reactcount>9</reactcount>
    <pinChannel></pinChannel>
    <songChannel></songChannel>
    <songReacts></songReacts>
    <songEmote></songEmote>
    <songLimit>7</songLimit>
    <playlistID></playlistID>
    <memory>training.txt</memory>
  </settings>
  <blacklist>
  </blacklist>
</root>